export MINIKUBE_IP=$(minikube ip)
export NEXT_MINIKUBE_SOKETI_PORT=$(kubectl get services/soketi-test-app -o go-template='{{(index .spec.ports 0).nodePort}}')
export NEST_MINIKUBE_PORT=$(kubectl get services/test-app-nestjs -o go-template='{{(index .spec.ports 0).nodePort}}')
export MEILISEARCH_PORT=$(kubectl get services/meilisearch-test-app -o go-template='{{(index .spec.ports 0).nodePort}}')
